@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.page {
  animation: fadeIn 0.5s ease-in-out;
}

.caso1_00 {
  /* Caso 1 */

  position: relative;
  width: 1360px;
  height: 10486px;

  background: linear-gradient(244.18deg, #030102 22.95%, #8a8a8a 156.45%);
}

.text1 {
  /* Sitio web adaptable para Cine Insomnia */

  position: absolute;
  width: 609px;
  height: 90px;
  left: 68px;
  top: 188px;

  /* Titulos */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;

  color: #ffffff;
}

.group79 {
  /* Group 79 */

  position: absolute;
  width: 539px;
  height: 132px;
  left: 67px;
  top: 322px;
}

.text2 {
  /* Mis responsabilidades */

  position: absolute;
  width: 263px;
  height: 23px;
  left: 74px;
  top: 322px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

.text3 {
  /* Investigación y estudio de usuarios. Bosquejado y prototipado. Flujo de usuario y arquitectura de la información. Diseño de interacciones. Diseño Visual. */

  position: absolute;
  width: 539px;
  height: 100px;
  right: 724px;
  top: 354px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}

.caso1img49 {
  /* image 49 */

  position: absolute;
  width: 423.04px;
  height: 237.85px;
  left: 751.07px;
  top: 226.35px;
}

.tv {
  /* —Pngtree—tv screen material_7085071 1 */

  position: absolute;
  width: 484.67px;
  height: 332.92px;
  left: 717px;
  top: 196px;
}

.text4 {
  /* El Problema */

  position: absolute;
  width: 143px;
  height: 23px;
  left: 76px;
  top: 476px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

.Group_78 {
  /* Group 78 */

  position: absolute;
  width: 538px;
  height: 132px;
  left: 68px;
  top: 476px;
}

.el_problema {
  /* El Problema */

  position: absolute;
  width: 143px;
  height: 23px;
  left: 76px;
  top: 476px;
  padding-top: 30px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #ffffff;
}

.la_pagina {
  /* La página no cuenta con sistema de compra de tickets. Ademas, los usuarios reportaron algunas incomodidades al explorar la cartelera, especialmente en móvil. */

  position: absolute;
  width: 538px;
  height: 100px;
  right: 724px;
  top: 508px;
  padding-top: 15px;
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}

.crear_un_sitio {
  /* Crear un sitio web adaptable con sistema de compra de tickets para Cine Insomnia cuyo uso sea agradable, fácil y entretenido. */

  position: absolute;
  width: 538px;
  height: 100px;
  right: 744px;
  top: 682px;

  /* Encabezado */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;

  color: #ffffff;
}

.investigacion {
  /* Investigación Previa */

  position: absolute;
  width: 482px;
  height: 45px;
  left: calc(50% - 522px / 2);
  top: 891px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
}

.image50_caso1 {
  /* image 50 */

  position: absolute;
  width: 94.55px;
  height: 199px;
  left: 813px;
  top: 555.31px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}

.image51_caso1 {
  /* image 51 */

  position: absolute;
  width: 94.74px;
  height: 200px;
  left: 1023px;
  top: 555.31px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}

.para_este {
  /* Para este trabajo se realizaron dos investigaciones preliminares, y un estudio de usabilidad final. La primera investigación constó de una encuesta realizada a mas de 20 usuarios de Cine Insomnia de los cuales 5 fueron seleccionados para una entrevista. La investigación sirvió para establecer los principales Pain Points de los usuarios al navegar por la web de Insomnia, y establecer perfiles de usuarios. */

  position: absolute;
  width: 1174px;
  height: 175px;
  right: 133px;
  top: 978px;

  /* Encabezado */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
}

.pain_points {
  /* Pain Points */

  position: absolute;
  width: 193px;
  height: 33px;
  left: calc(50% - 233px / 2 + 0.5px);
  top: 1236px;

  /* Titulos 2 */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */
  text-align: right;

  color: #ffffff;
}

.rectangle1_caso1 {
  /* Rectangle 1 */

  position: absolute;
  width: 232px;
  height: 135px;
  left: 174px;
  top: 1376px;

  background: #d9d9d9;
  box-shadow: 0px 4px 4.7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.grupo80_caso1 {
  /* Group 80 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 266px;
  top: 1352px;
}

.elipse1_caso1 {
  /* Ellipse 1 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 266px;
  top: 1352px;
  border-radius: 50%;

  background: #d9d9d9;
}

.text1_caso1 {
  /* 1 */

  position: absolute;
  width: 22px;
  height: 36px;
  left: 277px;
  top: 1353px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: right;

  color: #030102;
}

.es_necesario {
  /* Es necesario poder comprar tickets online. */

  position: absolute;
  width: 213px;
  height: 92px;
  left: 183px;
  top: 1407px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}

.rectangle2_caso1 {
  /* Rectangle 2 */

  position: absolute;
  width: 232px;
  height: 154px;
  left: 544px;
  top: 1377px;

  background: #d9d9d9;
  box-shadow: 0px 4px 4.7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.elipse2 {
  /* Ellipse 1 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 636px;
  top: 1353px;
  border-radius: 50%;
  background: #d9d9d9;
}

.text2_caso1 {
  /* 2 */

  position: absolute;
  width: 22px;
  height: 36px;
  left: 643px;
  top: 1352px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: right;

  color: #030102;
}

.falta_inter {
  /* Falta interacción entre usuarios y Cine insomnia (fidelización). */

  position: absolute;
  width: 213px;
  height: 92px;
  left: 553px;
  top: 1413px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}

.rectangle3_caso1 {
  /* Rectangle 3 */

  position: absolute;
  width: 232px;
  height: 238px;
  left: 904px;
  top: 1378px;

  background: #d9d9d9;
  box-shadow: 0px 4px 4.7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.elipse3 {
  /* Ellipse 1 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 996px;
  top: 1354px;

  background: #d9d9d9;
  border-radius: 50%;
}

.text3_caso1 {
  /* 3 */

  position: absolute;
  width: 22px;
  height: 36px;
  left: 1003px;
  top: 1353px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: right;

  color: #030102;
}

.la_arquitectura {
  /* La arquitectura del sitio no se ajusta a los estándares de la industria, tornándose confuso para algunos usuarios. */

  position: absolute;
  width: 213px;
  height: 207px;
  left: 913px;
  top: 1409px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #000000;
}

.persona {
  /* Persona*: */

  position: absolute;
  width: 172px;
  height: 33px;
  left: calc(50% - 172px / 2 - 108px);
  top: 1731px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.almendra {
  /* Almendra */

  position: absolute;
  width: 193px;
  height: 38px;
  left: 677px;
  top: 1729px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.diapo_persona {
  /* Diapo Persona */

  position: absolute;
  width: 960px;
  height: 540px;
  left: calc(50% - 960px / 2 - 7px);
  top: 1834px;

  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.planteamiento {
  /* Planteamiento del problema: “Como profesional/estudiante ocupado quiero poder comprar entradas para el cine desde mi móvil para poder organizar mi visita con antelación y mejor, y no perder funciones de mi interés.” */

  position: absolute;
  width: 974px;
  height: 69px;
  left: calc(50% - 974px / 2 - 7px);
  top: 2408px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

.mapadesitio {
  /* Mapa de sitio y bosquejos en papel */

  position: absolute;
  width: 829px;
  height: 45px;
  left: calc(50% - 829px / 2 - 6.5px);
  top: 2578px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.slide {
  /* Slide 16_9 - 1 1 */

  position: absolute;
  width: 1090.22px;
  height: 628px;
  left: 88px;
  top: 2679px;
}

.Bosquejadodigital {
  /* Bosquejado digital */

  position: absolute;
  width: 441px;
  height: 45px;
  left: calc(50% - 458px / 2);
  top: 3441px;

  /* Titulos */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  /* identical to box height */

  color: #ffffff;
}

.frame6 {
  /* Frame 6 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 357px;
  height: 118px;
  left: 93px;
  top: 3612px;

  /* Fondo */
  background: linear-gradient(
    194.83deg,
    #030102 13.3%,
    #1e1d1d 47.98%,
    #8a8a8a 89.53%
  );
  border: 1px solid #000000;
  border-radius: 10px;
}

.textoFrame6 {
  /* Al realizar los bosquejos digitales la principal atención fue responder a la necesidad de comprar tickets online para todo tipo de usuario */

  width: 337px;
  height: 98px;

  /* Cuerpo */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bosquejo {
  /* Bosuejo digital */

  position: absolute;
  width: 549px;
  height: 392px;
  left: 568px;
  top: 3577px;

  border-radius: 12px;
}

.Arrow27 {
  box-sizing: border-box;
  position: absolute;
  width: 29px;
  height: 96px;
  left: 1012px;
  top: 3914px;
  border: 0px solid #ffffff;
}

.Arrow28 {
  box-sizing: border-box;
  position: absolute;
  width: 104.69px;
  left: 485px;
  top: 3802px;
  border: 0px solid #ffffff;
  transform: rotate(-2.85deg);
}

.textArrow28 {
  /* Comprar entradas como pop up desde cartelera, agilizando proceso de compra */

  position: absolute;
  width: 199px;
  height: 72px;
  left: 286px;
  top: 3840px;

  /* Cuerpo 2 */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
}

.textArrow27 {
  /* Sistema fácil e intuitivo para comprar entradas */

  position: absolute;
  width: 144px;
  height: 72px;
  left: 955px;
  top: 4006px;

  /* Cuerpo 2 */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
}

.usabilidad {
  /* Estudio de usabilidad: Prototipo de baja fidelidad */

  position: absolute;
  width: 847px;
  height: 90px;
  left: calc(50% - 847px / 2 - 0.5px);
  top: 4211px;

  /* Titulos */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: center;

  color: #ffffff;
}

.lleve {
  /* LLevé a cabo un estudio de usabilidad del prototipo de baja fidelidad. El estudio buscó determinar el formato de organización de la cartelera más cómodo para todos los usuarios, y determinar los principales pain points del proceso de compra de tickets. */

  position: absolute;
  width: 964px;
  height: 100px;
  left: calc(50% - 964px / 2);
  top: 4388px;

  /* Encabezado */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
}

.descubrimiento {
  /* Descubrimientos */

  position: absolute;
  width: 303px;
  height: 33px;
  left: 134px;
  top: 4593px;

  /* Titulos 2 */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.elipseDesc1 {
  /* Ellipse 1 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 331px;
  top: 4690px;
  border-radius: 50%;
  background: #d9d9d9;
}

.t1el1 {
  /* 1 */

  position: absolute;
  width: 22px;
  height: 36px;
  left: 344px;
  top: 4690px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: right;

  color: #000000;
}

.r1el1 {
  /* Rectangle 2 */

  position: absolute;
  width: 501px;
  height: 154px;
  left: 108px;
  top: 4714px;

  background: #d9d9d9;
  box-shadow: 0px 4px 4.7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.textor1 {
  /* Los participantes prefieren ver la cartelera por películas en vez de calendario */

  position: absolute;
  width: 450px;
  height: 75px;
  left: 134px;
  top: 4759px;

  /* Encabezado */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.elipseDesc2 {
  /* Ellipse 1 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 890px;
  top: 4690px;
  border-radius: 50%;
  background: #d9d9d9;
}

.t1el2 {
  /* 1 */

  position: absolute;
  width: 22px;
  height: 36px;
  left: 900px;
  top: 4690px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: right;

  color: #000000;
}

.r1el2 {
  /* Rectangle 2 */

  position: absolute;
  width: 501px;
  height: 154px;
  left: 667px;
  top: 4714px;

  background: #d9d9d9;
  box-shadow: 0px 4px 4.7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.textor2 {
  /* Los participantes prefieren ver la cartelera por películas en vez de calendario */

  position: absolute;
  width: 450px;
  height: 75px;
  left: 693px;
  top: 4759px;

  /* Encabezado */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.rectangle4_c1 {
  /* Rectangle 2 */

  position: absolute;
  width: 501px;
  height: 154px;
  left: 108px;
  top: 4934px;

  background: #d9d9d9;
  box-shadow: 0px 4px 4.7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.group81_c1 {
  /* Group 81 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 331px;
  top: 4910px;
}

.elipse4_caso1 {
  /* Ellipse 1 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 331px;
  top: 4910px;
  border-radius: 50%;
  background: #d9d9d9;
}

.tres_caso1 {
  /* 3 */

  position: absolute;
  width: 22px;
  height: 36px;
  left: 338px;
  top: 4910px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: right;

  color: #000000;
}

.texto5_caso1 {
  /* En general, los usuarios consideraron que el espacio podría usarse más */

  position: absolute;
  width: 450px;
  height: 75px;
  left: 134px;
  top: 4973px;

  /* Encabezado */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.rectangle5_c1 {
  /* Rectangle 2 */

  position: absolute;
  width: 501px;
  height: 154px;
  left: 667px;
  top: 4934px;

  background: #d9d9d9;
  box-shadow: 0px 4px 4.7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.elipse5_caso1 {
  /* Ellipse 1 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 890px;
  top: 4910px;
  border-radius: 50%;
  background: #d9d9d9;
}

.cuatro {
  /* 4 */

  position: absolute;
  width: 22px;
  height: 36px;
  left: 896px;
  top: 4910px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: right;

  color: #000000;
}

.texto6_caso1 {
  /* El funcionamiento de la boletería fue aceptado por participantes */

  position: absolute;
  width: 450px;
  height: 50px;
  left: 695px;
  top: 4986px;

  /* Encabezado */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.rect6_caso1 {
  /* Rectangle 2 */

  position: absolute;
  width: 501px;
  height: 154px;
  left: 108px;
  top: 5154px;

  background: #d9d9d9;
  box-shadow: 0px 4px 4.7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.elip6_caso1 {
  /* Ellipse 1 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 331px;
  top: 5130px;

  background: #d9d9d9;
  border-radius: 50%;
}

.cinco {
  /* 5 */

  position: absolute;
  width: 22px;
  height: 36px;
  left: 338px;
  top: 5130px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: right;

  color: #000000;
}

.texto7_c1 {
  /* Algunos usuarios sienten que el proceso es demasiado rápido */

  position: absolute;
  width: 450px;
  height: 50px;
  left: 134px;
  top: 5211px;

  /* Encabezado */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.rect7_c1 {
  /* Rectangle 2 */

  position: absolute;
  width: 501px;
  height: 154px;
  left: 667px;
  top: 5154px;

  background: #d9d9d9;
  box-shadow: 0px 4px 4.7px 3px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.elip7_c1 {
  /* Ellipse 1 */

  position: absolute;
  width: 47px;
  height: 47px;
  left: 890px;
  top: 5130px;

  background: #d9d9d9;
}

.seis {
  /* 6 */

  position: absolute;
  width: 22px;
  height: 36px;
  left: 898px;
  top: 5130px;

  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: right;

  color: #000000;
}

.texto8_c1 {
  /* Todos los participantes del estudio usarían la app */

  position: absolute;
  width: 450px;
  height: 50px;
  left: 693px;
  top: 5206px;

  /* Encabezado */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;

  color: #000000;
}

.texto9 {
  /* Refinando el diseño */

  position: absolute;
  width: 354px;
  height: 33px;
  left: 117px;
  top: 5413px;

  /* Titulos 2 */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */
  text-align: center;

  color: #ffffff;
}

.group109 {
  /* Group 109 */

  position: absolute;
  width: 463.54px;
  height: 431px;
  left: 117px;
  top: 5483px;
}

.group110 {
  /* Group 110 */

  position: absolute;
  width: 491.84px;
  height: 431px;
  left: 670px;
  top: 5483px;
}

.texto10 {
  /* Estudio de usabilidad: Prototipo de alta fidelidad */

  position: absolute;
  width: 847px;
  height: 90px;
  left: calc(50% - 847px / 2 - 0.5px);
  top: 6040px;

  /* Titulos */
  font-family: "Krona One";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  text-align: center;

  color: #ffffff;
}

.frame7 {
  /* Frame 7 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  padding: 0px;
  gap: 173px;

  position: absolute;
  width: 1118px;
  height: 2325px;
  left: 81px;
  top: 6256px;
}

.comprar {
  /* Comprar entradas 1 */

  position: absolute;
  width: 825.51px;
  height: 561px;
  left: 227px;
  top: 8625px;
}

.frame8 {
  /* Frame 8 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 45px;

  position: absolute;
  width: 1110px;
  height: 179px;
  left: calc(50% - 1110px / 2);
  top: 9371px;
}

.group120 {
  /* Group 120 */

  position: absolute;
  width: 484.67px;
  height: 443px;
  left: 85px;
  top: 9637px;
}
.group121 {
  /* Group 121 */

  position: absolute;
  width: 339px;
  height: 423px;
  left: 771px;
  top: 9657px;
}

.back-arrowBottom {
  /* arrow_back */

  position: absolute;
  width: 60px;
  height: 60px;
  left: 20px;
  top: 10195px;
  cursor: pointer;
}
